<body id="index">
  <div id="body-index">

    <h1 id="title-index">Cinema <br /> Ironhack</h1>

    <h3>
      <form action="/movies" method="GET">
        <input id="check-movies" type="submit" value="Check the movies!" />
      </form></h3>

  </div>
</body>